<%= stylesheet_link_tag "support", :media => :all %>

<section> 
  <hgroup>
  <h2>支援與服務</h2>
  <p>若想瞭解更多關於漢杰的服務或有任何疑問</p>
  </hgroup>
  <div id="content">
  <div class="left">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="20%"><img src="<%= image_path("sup-02.jpg") %>" width="68" height="68"></td>
    <td width="80%">歡迎您來電洽詢<br>
      <strong style="font-size:35px">02-2910-1125</strong></td>
  </tr>
  <tr>
    <td><a href="mailto:sales@hanjay.com" target="_blank"><img src="<%= image_path("sup-03.jpg") %>" width="71" height="72"></a></td>
    <td>寫封Email給我們<br>
      <strong><a href="mailto:sales@hanjay.com" target="_blank">sales@hanjay.com</a></strong></td>
  </tr>
  <tr>
    <td><img src="<%= image_path("sup-05.jpg") %>" width="68" height="68"></td>
    <td>或親自來訪<br>
      <strong style="font-size:18px">新北市新店區寶中路 45 號 20 樓之一</strong></td>
  </tr>
</table>

  </div><!--left-->
  <div class="right">
  
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.607193336999!2d121.54285671435326!3d24.97947574663044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346801fa5db9fdcd%3A0xb682e467e36f3b5c!2zMjMx5paw5YyX5biC5paw5bqX5Y2A5a-25Lit6LevNDXomZ8!5e0!3m2!1szh-TW!2stw!4v1445851564631" width="500" height="340" frameborder="0" style="border:0"></iframe>
  
  </div><!--right-->
  </div> <!--content-->
  </section>
  
  <script>
  	$(document).ready(function() {
	  $('nav a[href*=support]').addClass('active');
	  	
  	});
  </script>