<% # encoding:utf-8 %>
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<meta name="keywords" content="資訊安全, 網路安全, 個人資料, 雲端"/>
<meta name="description" content="雲端時代來臨，個資法頒布，企業的資訊安全計劃準備好了嗎？機密文件傳輸，珍貴的客戶個人資料，簡單一個聯繫，漢杰科技與強力的資訊安全夥伴，一起為企業打造最安心的網路安全方案。"/>
<meta property="og:title" content="支援與服務 | 漢杰科技-網路安全風險診斷專家"/>
<meta property="og:description" content="雲端時代來臨，個資法頒布，企業的資訊安全計劃準備好了嗎？機密文件傳輸，珍貴的客戶個人資料，簡單一個聯繫，漢杰科技與強力的資訊安全夥伴，一起為企業打造最安心的網路安全方案。"/>
<meta property="og:site_name" content="漢杰科技-網路安全風險診斷專家"/> 
<meta property="og:type" content="company"/>
<title>支援與服務 | 漢杰科技-網路安全風險診斷專家</title>
