article section{background:image-url("bul-01.jpg") right 30px no-repeat}

#content{width:785px;padding:50px 0}
#content th{text-shadow:0 1px 0 #fff;background:image-url("bul-02.jpg") 90px 27px no-repeat}
#date{background:#EFEFEF;padding:0px 10px;width:90px;margin:5px 0 0 0}
#date .y{color:#a2a2a2;font:300 13px "微軟正黑體"}
#date .md{color:#003f9c;font:900 20px "微軟正黑體"}
#content ul{color:#6a6a6a;border-bottom:1px dashed #D3D3D3;padding:20px 0}
#content li{height:35px}
#content li:hover{color:#000}