article section{background:image-url("sup-01.jpg") right 30px no-repeat}

article hgroup{height:120px}
#content{padding:60px 50px;overflow:hidden}

.left{color:#8e8e8e;font-size:18px;width:424px;float:left}
.left strong{font:300 22px "Oxygen";color:#000}
.left strong a{font:300 22px "Oxygen";color:#000;border-bottom:1px solid #34D6DC}
.left strong a:hover{color:#34D6DC}
.left td{height:100px}

.right{width:500px;background:#E0E0E0;float:right;height:340px;margin:50px 0 0 0}