
<aside _height="none">
  <section>
    <h6>網路安全風險診斷專家</h6>
    <nav><a href="<%= root_url %>">首頁</a> ｜ <a href="<%= page_path( :support ) %>">支援與服務 </a>｜ <a href="<%= news_index_path %>">最新消息 </a>｜ <a href="<%= events_path %>">漢杰活動</a></nav>
    <div id="info"> 漢杰科技股份有限公司<br>
      11492 台北市內湖區瑞光路607號4樓 </div>
  </section>
</aside>

<footer _height="none">
  <section>©2013 HANJAY All Right Reserved     網頁設計 By <a href="http://www.summers.com.tw" target="_blank">夏天廣告</a> </section>
</footer>
